<nav>
    <a href="/"><img class="tj-logo" src="/assets/images/icons/logo-2.png" alt="logo du site la toque de Jean"></a>

        {% include ('_includes/searchBar.html.twig') %}

    <div class="nav-ul-container">
    <ul class = "nav-ul-category">
        <li><a href="category">Recettes</a></li>
        <li><a href="">Entrées</a></li>
        <li><a href="">Plats</a></li>
        <li><a href="">desserts</a></li>
        <li><a href="">le blog</a></li>
    </ul>
    <ul class = "nav-ul-login">
        <li><img src="/assets/images/icons/connexion.png" alt="icon connexion"></li>
        <li><a href="">Inscription</a></li>
        <li><a href="">login</a></li>
    </ul>
    </div>
</nav>
