{% extends 'layout.html.twig' %}
{% block body_class %}home-page{% endblock %}

{% block content %}
<header> <h1>La Toque de Jean</h1>

<p>Bienvenue sur La Toque de Jean, faites votre choix parmis nos recettes
    ou envoyez-nous en une</p>
    {% include ('_includes/searchBar.html.twig') %}
</header>

{% endblock %}

